.body{
    background-color: rgb(255, 251, 0);
}
.nose{
    margin-top: 1%;
    text-align: center;
    background-color: seashell;
    display: grid;  
    height: 50em;
}
.nose2{
    position: relative;
    top: 1%;
    margin: 0 auto;
    width: 500px;
    background-color: blue;
    /* text-align: center; */
}

.subir{
    position: relative;
    top: 1%;
    background-color: white;
    margin-left: 0.5rem;
    margin-right:0.5rem;
    border-radius: 0.2em;
    
}

.a{
    background-color: brown;
    border-radius: 2em;
    margin-bottom: 1rem;
    color: white;
    
    
}
.mora{
    background-color: crimson;
    margin: 0 auto;
    width: 700px;
    height: 500px;

}
.separador{
    height: 0.5rem;
}
.ujum {
    position: relative;
    top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: blue;
}
.text{
    color: white;
    position: relative;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

}


@media only screen and (max-width:600px){
    .nose{
        grid-template-columns: auto;
    }
    
}
