{% extends 'layout.html' %}
{% block title %} cartelera {% endblock %}
{% block content %}
<div class="div1_cartelera">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>{{eventos[0]}}</th>
                <th>{{eventos[1]}}</th>
                <th>{{eventos[2]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    a
                </td>
                <td>
                    a
                </td>
                <td>
                    a
                </td>
            </tr>
        </tbody>


    </table>
</div>
{% endblock %}