{% extends 'layout2.html' %}
{% block title %} iniciar sesion {% endblock %}

{% block content %}
    
    <br><br>
        <form action="/login" method="post">
            <div class="mb-3" class="username">
            <label for="exampleInputEmail1" class="form-label">Nombre de usuario o correo</label>
            <br>
            <input class="config" id="nombre" name="usuario" type="text" placeholder="Nombre">
            </div>
            <div class="mb-3" class="password">
                <label for="exampleInputPassword1" class="form-label">contraseña</label>
                <br>
                <input class="config" id="contraseña" name="password" type="password" placeholder="contraseña">
            </div>
            <div class="espaciado">
                <input type="submit" value="iniciar">
            </div>
            <div class="registro">
                <h6>No tengo cuenta <a href="/register">registrarme</a></h6>
            </div>
        </form>

{% endblock %}